*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(167, 225, 245), #1e03eb);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background:#fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    /* border: 2px solid rgb(235, 238, 44); */
}
.todo-app h2{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #3300ff;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    font-size: 1.3rem;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
}
button{
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 16px 50px;
    font-size: 20px;
    background: rgb(245, 2, 164);
    color: #fff;
    cursor: pointer;
}
ul li{
    list-style: none;
    user-select: none;
    cursor: pointer;
    padding: 12px 8px 12px 50px;
    font-size: 19px;
    position: relative;
    color: #000;
}
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size:cover;
    background-position: center;
    left: 8px;
    top: 12px;
} 
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #000;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}


@media only screen and (max-width: 768px) {
    .todo-app {
        width: 90%;
        margin: 100px auto 20px;
        padding: 20px;
    }
    .container {
        padding: 2%;
    }
    /* .todo-app {
        max-width: 90%;
        margin: 10% auto 5%;
        padding: 5% 3% 7%;
    } */
    .todo-app h2 img {
        width: 20%;
        max-width: 30px;
        margin-left: 10px;
    }
    input {
        font-size: 1rem;
        padding: 10px;

    }
    button {
        padding: 12px 15px;
        font-size: 15px;
    }
    ul li {
        padding: 10px 8px 10px 40px;
        font-size: 16px;
    }
    ul li span {
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }
                
}
